<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieDB Demo</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body
    data-api-root="<%= apiRoot %>"
    data-api-key="<%= apiKey %>">

    <div id="app">
        <img src="images/logo.png" alt="MovieDB Demo" class="logo">
        <div class="spinner">
            <i class="fa fa-4x fa-spinner fa-spin"></i>
        </div>
    </div>

    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>